<form name=staffform #form="ngForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(form)">
    <!--Id-->
    <input type="hidden" name="staffId" [(ngModel)]="staffService.formData.staffId">

    <!--Full Name-->
    <div class="form-group">
        <label>staff name</label>
        <input name="fullName" id="fullName"
            #fullName="ngModel" 
            [(ngModel)]="staffService.formData.fullName"
            class="form-control" placeholder="Enter Full Name"
            minlength="8" maxlength="25" required 
            [ngClass]="{'is-invalid':fullName.touched && fullName.invalid}">
        <div class="validation-error" 
            *ngIf="fullName.touched && fullName.invalid">
            <div *ngIf="fullName.errors">
                Invalid Full Name 
            </div>
        </div>
    </div>


    <!--address-->
    <div class="form-group">
        <label>address</label>
        <input name="address" id="address"
            #address="ngModel" 
            [(ngModel)]="staffService.formData.address"
            class="form-control" placeholder="Enter address"
            minlength="8" maxlength="250" required 
            [ngClass]="{'is-invalid':address.touched && address.invalid}">
        <div class="validation-error" 
            *ngIf="address.touched && address.invalid">
            <div *ngIf="address.errors">
                Invalid address
            </div>
        </div>
    </div>

    <!--DateOfbirth-->
    <div class="form-group">
        <label>Date Of birth</label>
        <input type="date" name="dob" id="dob"
            #dob="ngModel" 
            [(ngModel)]="staffService.formData.dob"
            class="form-control" required 
            [ngClass]="{'is-invalid':dob.touched && dob.invalid}">
        <div class="validation-error" 
            *ngIf="dob.touched && dob.invalid">
            <div *ngIf="dob.errors">
                Date is Required
            </div>
        </div>
    </div>

    <!--mobile no-->
    <!--<div class="form-group">
        <label>phone no</label>
        <input type="number"  name="mobileno" id="mobileno"
            #mobileno="ngModel" 
            [(ngModel)]="staffService.formData.mobileno"
            class="form-control" placeholder="Enter mobile no"
            formControlName="mob" required 
            [ngClass]="{'is-invalid':mobileno.touched && mobileno.invalid}">
        <div class="validation-error" 
            *ngIf="mobileno.touched && mobileno.invalid">
            <div *ngIf="mobileno.errors">
                Invalid mobileno
            </div>
        </div>
    </div>-->

    <!--email-->
    <div class="form-group">
        <label>email</label>
        <input type="email"  name="email" id="email"
            #email="ngModel" 
            [(ngModel)]="staffService.formData.email"
            class="form-control" placeholder="Enter email"
            minlength="8" maxlength="90" required 
            [ngClass]="{'is-invalid':email.touched && email.invalid}">
        <div class="validation-error" 
            *ngIf="email.touched && email.invalid">
            <div *ngIf="email.errors">
                Invalid email
            </div>
        </div>
    </div>
    
     <!--DateOfJoining-->
     <div class="form-group">
        <label>Date Of Joining</label>
        <input type="date" name="doj" id="doj"
            #doj="ngModel" 
            [(ngModel)]="staffService.formData.doj"
            class="form-control" required 
            [ngClass]="{'is-invalid':doj.touched && doj.invalid}">
        <div class="validation-error" 
            *ngIf="doj.touched && doj.invalid">
            <div *ngIf="doj.errors">
                Date is Required
            </div>
        </div>
    </div>
    
    <!--salary-->
    <div class="form-group">
        <label>salary</label>
        <input type="number" name="salary" id="salary"
            #salary="ngModel" 
            [(ngModel)]="staffService.formData.salary"
            class="form-control" placeholder="Enter salary"
            minlength="2" maxlength="20" required 
            [ngClass]="{'is-invalid':salary.touched && salary.invalid}">
        <div class="validation-error" 
            *ngIf="salary.touched && salary.invalid">
            <div *ngIf="salary.errors">
                salary is Required
            </div>
        </div>
    </div>

    <!--<Department DropdownList
    <div class="form-group">
        <label>Department</label>
        <select name="departmentid" id="departmentid" class="form-control required" #departmentId="ngModel"
            [(ngModel)]="employeeService.formData.departmentid">
            <option value=0 disabled>Choose Department</option>
            <option *ngFor="let dept of employeeService.departments" value="{{dept.departmentId}}">{{dept.departmentName}}</option>
        </select>
        <div class="validation-error" 
        *ngIf="departmentId.touched && departmentId.invalid">
        <div *ngIf="departmentId.errors">
            Department is Required
        </div>
    </div>
    </div>-->
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
        class="btn btn-lg btn-primary form-control"> Submit
        </button>
    </div>

</form>