<app-header></app-header>
<br>
<br>
<a [routerLink]="['../staff']" class="btn btn-outline-secondary" 
        style="float:right;margin-bottom: 10px" >add staff</a>

<a [routerLink]="['../stafflist']" class="btn btn-outline-secondary" 
     style="margin-bottom: 10px" >list staff</a>

    <br>
    <br>
<a [routerLink]="['../']" class="btn btn-outline-secondary" 
  style="margin-bottom: 10px" >list patient </a>
<a [routerLink]="['../']" class="btn btn-outline-secondary" 
  style="float:right;margin-bottom: 10px" >add patient</a>
  <br>
  <br>
<a [routerLink]="['../']" class="btn btn-outline-secondary" 
  style="margin-bottom: 10px" >list medicine</a>
<a [routerLink]="['../']" class="btn btn-outline-secondary" 
  style="float:right;margin-bottom: 10px" >add medicine</a>
  <br>
  <br>
<a [routerLink]="['../stafflist']" class="btn btn-outline-secondary" 
     style="margin-bottom: 10px" >list labtests</a>
<a [routerLink]="['../staff']" class="btn btn-outline-secondary" 
    style="float:right;margin-bottom: 10px" >add labtest</a>
